@use "../../styles/mixin/colors" as colors;

.review {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0px;
  
  .review__user {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }

  .review__stars {
    display: flex;
    align-items: center;
    gap: 2px;

    span {
      font-size: 14px;
      font-weight: bold;
      color: colors.$yellow-400;
    }
  }
}