@use "../../styles/mixin/colors" as colors;

.download-icon {
  color: colors.$dark-900;
}

.preview-icon {
  color: colors.$dark-600;
}

.delete-icon {
  color: colors.$red-600;
}

.edit-icon {
  color: colors.$green-600;
}

.computer-icon {
  color: colors.$yellow-600;
}

.error-icon {
  color: colors.$red-600;
  width: 2.5rem;
  height: 2.5rem;
}

.arrowleft-icon {
  color: colors.$primary;
}

.arrowright-icon {
  color: colors.$primary;
}

.close-icon {
  color: colors.$dark-900;
}

.menu-icon {
  color: colors.$dark-900;
}

.doubleleft-icon,
.doubleright-icon {
  color: colors.$dark-900;
}

.shoppingcart-icon {
  color: colors.$green-500;
}

.home-icon {
  color: colors.$white;
}

.user-icon {
  color: colors.$white;
}

.like-icon,
.dislike-icon {
  color: colors.$yellow-500;
}

.star-icon {
  color: colors.$yellow-500;
}

.heart-icon {
  color: colors.$red-500
}

.barsarrowdown-icon {
  color: colors.$dark-900;
}

.check-icon {
  color: colors.$green-500;
}

.design-icon {
  color: colors.$dark-900;
}

.chat-icon {
  color: colors.$dark-900;
}

.ellipsis-icon {
  color: colors.$dark-900;
}

.loader {
  fill: colors.$primary;
  color: colors.$dark-200;
  display: inline;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}