@use "../mixin/colors" as colors;

body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  *:focus {
    outline: none;
  }
  .link {
    text-decoration: none;
    color: inherit;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

ul{
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cursor-pointer {
  cursor: pointer;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  transition: all 0.5s;
  padding: 0.5rem 0;
  margin: 0.5rem auto;
  cursor: pointer;
  &:hover{
    color: colors.$text-primary;
  }
  &:disabled {
    opacity: 0.5;
    color: colors.$white;
    cursor: not-allowed;
  }

  &.button--fill {
    background-color: colors.$primary;
    color: colors.$white;
  }
  
  &.button--outline {
    border: 1px solod colors.$primary;
    background-color: colors.$white;
  }
}

.light {
  background-color: colors.$dark-100;
  color: colors.$dark-900;
}

.dark {
  background-color: colors.$dark-700;
  color: colors.$white;
}