@use "../../styles/mixin/colors" as colors;

.seller {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .seller__user {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }

    .seller__info {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .seller__stars {
        display: flex;
        align-items: center;
        gap: 2px;

        span {
          font-size: 14px;
          font-weight: bold;
          color: colors.$yellow-400;
        }
      }

      button {
        background-color: colors.$dark-100;
        border-radius: 5px;
        border: 1px solid colors.$dark-600;
        padding: 10px;
      }
    }
  }
}