@use "../../styles/mixin/colors" as colors;
@use "../../styles/mixin/screens" as screens;

.home {
  max-width: 1280px;
  height: calc(100vh - 100px);
  margin: 0 auto;
  padding: 20px;
  flex-direction: column;
  gap: 40px;

  .title {
    h1 {
      font-size: 4rem;
      font-weight: 900;
      color: colors.$text-primary;
    }

    .break {
      display: block;
    }
  }

  .content {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    p {
      color: colors.$dark-500;
      font-size: 1rem;
      line-height: 1.2rem;
      text-align:justify;
    }

    .button {
      width: fit-content;
      padding: 0.625rem 1rem;
      font-weight: bold;
      font-size: 0.875rem;
  
      &:hover{
        color: colors.$text-primary;
      }
    }
  }
}

@include screens.tablet {
  .home {
    flex-direction: row;
  
    .title {
      h1 {
        font-size: 8rem;
      }
      .break {
        display: none;
      }
    }

    .content {
      gap: 4rem;
      p {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
  }
}