@use "../../styles/mixin/colors" as colors;

.recipient {
  form {
    flex-direction: column;
    gap: 20px;

    label {
      color: colors.$dark-600;
      font-size: 18px;
    }

    input {
      width: 100%;
      padding: 15px;
      border: 1px solid colors.$dark-100;
    }
  }
  .my-design {
    display: flex;
    img {
      width: 100px;
      margin: 0 auto;
    }
  }
}