@use "../../styles/mixin/colors" as colors;
@use "../../styles/mixin/screens" as screens;

.gig {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    width: 960px;
    padding: 20px 10px 120px;
    display: flex;
    flex-direction: column;
    gap: 90px;

    .star-icon,
    .check-icon {
      height: 25px;
      width: 25px;
    }
    
    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .stars {
        display: flex;
        align-items: center;
        gap: 2px;

        span {
          font-size: 14px;
          font-weight: bold;
          color: colors.$yellow-400;
        }
      }

      h2 {
        font-weight: 400;
      }

      p {
        font-weight: 300;
        line-height: 24px;
        color: colors.$dark-600;
      }
    }

    .right {
      flex: 1;
      margin: 0 auto;
      border: 1px solid colors.$dark-400;
      padding: 10px;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: max-content;
      max-height: 960px;
      position: sticky;
      top: 150px;

      .price {
        h2{
          font-weight: 300;
        }
      }

      p {
        color: colors.$dark-600;
        margin: 10px 0px;
      }

      .features{
        .item{
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 300;
          color: colors.$dark-600;
          margin-bottom: 5px;
        }
      }

      button{
        padding: 10px;
      }
    }
  }
}

@include screens.tablet {
  .gig {
    .container {
      flex-direction: row;
      .left {
        flex: 2;
      }
      .right {
        flex: 1;
      }
    }
  }
}